@{
    ViewData["Title"] = "Home";
}

<div class="hero-section text-center">
    <h1>Recommendation System</h1>
    <p>Discover amazing books and movies in one place.</p>

    <div class="hero-buttons">
        <a class="btn btn-purple" asp-controller="Books" asp-action="Index">Browse Books</a>
        <a class="btn btn-outline-purple" asp-controller="Movies" asp-action="Index">Browse Movies</a>

  
    </div>
</div>